.label {
    display: inline-block;
}

.btn-group {
    padding-top: 10px !important;
}

.col-md-4 {
    padding-bottom: 20px !important;
}

.media {
    padding: 10px;
}

#userImage {
    max-width: 20% !important;
    max-height: 20% !important;
}